<div class="form-inline w100">
    <div class="form-group mb-2">
      <label for="pincode" class="sr-only">Pincode</label>
      <input #pincodeInput type="text" class="input-c form-control" value="{{pincode}}" placeholder="6 digit pincode"/>
    </div>
    <button (click) = "updatePincode(pincodeInput.value)" type="button" class="btn btn-dark btn-sm mb-2 ml-2">Update Pincode</button>
</div>
<p class="mb-1">Data shown here is for next 7 days. Refresh interval is <strong>5 seconds</strong>.</p>
<table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
      <th scope="col" style="width: 15%;">Center</th>
      <th scope="col" style="width: 40%;">Address</th>
      <th scope="col" style="width: 10%;">Vaccine</th>
      <th scope="col" style="width: 10%;">Pincode</th>
      <th scope="col" style="width: 5%;">Fee</th>
      <th scope="col" style="width: 5%;">Available</th>
      <th scope="col" style="width: 10%;">Date</th>
      <th scope="col" style="width: 5%;">Age</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let session of tableData">
            <td>
                {{ session.name }}
              </td>
              <td>{{ session.address}}</td>
              <td>{{ session.vaccine }}</td>
              <td>{{ session.pincode }}</td>
              <td>{{ session.fee }}</td>
              <td [ngClass]="getCSSClass(session.available_capacity).bg"><strong>{{ session.available_capacity }}</strong></td>
              <td>{{ session.date }}</td>
              <td>{{ session.min_age_limit }}</td>
          </tr>
    </tbody>
</table>        