<div class="row">
    <div class="col-12">

        <div class="form-inline">
            <div class="form-group">
              <input #pincodeInput type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==6) return false;" class="form-control-sm form-control" value="{{pincode}}" placeholder="6 digit pincode"/>
            </div>
            <div class="form-group mx-sm-3">
                <input value="{{date}}" #dateInput type="date" class="form-control-sm form-control" placeholder="2021-05-21" />
            </div>
            <button (click) = "updatePincode(pincodeInput.value, dateInput.value)" type="button" class="btn btn-primary btn-sm ml-2"><i class="bi bi-arrow-repeat"></i></button>
            <div class="form-check mx-sm-3">
                <input [(ngModel)]="isChecked18Plus" (change)="fieldsChange18Plus($event)" class="form-check-input" type="checkbox">
                <label class="form-check-label" for="18plus">
                  Only 18+ <i class="{{apiStatus}}" class="apistatus ml-2 bi bi-display-fill" placement="right" ngbTooltip="Cowin APIs access status">
                    </i>
                </label>
              </div>
            
          </div>

    </div>
    
</div>
<p class="mb-1">Data shown here is for next 7 days. Refresh interval is <strong>5 seconds</strong>.</p>
<table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
      <th scope="col" style="width: 15%;">Center</th>
      <th scope="col" style="width: 40%;">Address</th>
      <th scope="col" style="width: 10%;">Vaccine</th>
      <th scope="col" style="width: 5%;">Fee</th>
      <th scope="col" style="width: 5%;">Available</th>
      <th scope="col" style="width: 5%;">Dose 1</th>
      <th scope="col" style="width: 5%;">Dose 2</th>
      <th scope="col" style="width: 10%;">Date</th>
      <th scope="col" style="width: 5%;">Age</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let session of tableData">
            <td>
                {{ session.name }}
              </td>
              <td>{{ session.address}}</td>
              <td>{{ session.vaccine }}</td>
              <td>{{ session.fee_type }}</td>
              <td [ngClass]="getCSSClass(session.available_capacity).bg"><strong>{{ session.available_capacity }}</strong></td>
              <td [ngClass]="getCSSClass(session.available_capacity_dose1).bg"><strong>{{ session.available_capacity_dose1 }}</strong></td>
              <td [ngClass]="getCSSClass(session.available_capacity_dose2).bg"><strong>{{ session.available_capacity_dose2 }}</strong></td>
              <td>{{ session.date }}</td>
              <td>{{ session.min_age_limit }}</td>
          </tr>
    </tbody>
</table>        