<div class="form-inline w100">
    <div class="form-group mb-2">
      <label for="pincode" class="sr-only">Pincode</label>
      <input type="text" readonly class="w50 form-control" id="pincode" value="110095" placeholder="110095,201005,110058"/>
    </div>
    <button type="submit" class="btn btn-warning btn-sm mb-2 ml-2">Update Pincode</button>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 14.28%;" scope="col" *ngFor="let date of dates">{{date}}</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let date of dates">
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
    </tbody>
</table>        