<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img style="max-height: 24px;" src="assets/favicon/favicon-32x32.png"/>CoWin Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" [routerLink]="['/calendarByPincode']">CalendarByPincode</a>
        </li>
        
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" [routerLink]="['/calendarByDistrict']">CalendarByDistrict</a>
        </li>
        
      </ul>
    </div>
</nav>