<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="#">CoWin Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" [routerLink]="['/home']">SlotByPincode</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" [routerLink]="['/slotByDistrict']">SlotByDistrict</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" [routerLink]="['/calendarByPincode']">CalendarByPincode</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" [routerLink]="['/calendarByDistrict']">CalendarByDistrict</a>
        </li>
        <li class="nav-item">
          <i class="nav-link bi bi-display-fill cg"></i>
        </li>
      </ul>
    </div>
</nav>