body {
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
}

.table td, .table th {
    padding: .15rem !important;
}    
.navbar {
    padding: 0rem 1rem !important;
}
.cg{
    color: #1eae98 !important;
}
.cr{
    color: #ce1f6a !important;
}
.cw{
    color: #fff !important;
}
.navbar-dark .navbar-toggler{
    border-color: #fff !important;
}
.apistatus{
    cursor: pointer;
}
.bg-g{
    background-color: #1eae98 !important;
    color: #fff;
}
.bg-y{
    background-color: #ffb26b !important;
    color: #fff;
}
.bg-r{
    background-color: #ce1f6a !important;
    color: #fff;
}
.f1{
    font-size: 16px;
}
.input-c{
    max-height: 30px;
    border-radius: 2px;
}
.w50{
    max-width: 50% !important;
}
.w60{
    max-width: 60% !important;
}